name: Deploy React App

on:
  push:
    branches: ["main"]

jobs:
  build_and_deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install

    - name: Build app
      run: npm run build

    - name: Deploy build folder via SSH
      uses: easingthemes/ssh-deploy@main
      with:
        SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
        REMOTE_HOST: ${{ secrets.SERVER_HOST }}
        REMOTE_USER: ${{ secrets.SERVER_USER }}
        TARGET: ${{ secrets.SERVER_TARGET_PATH }}
        SOURCE: "build/"
        ARGS: "-rlgoDzvc -i --delete"

    - name: Deploy build folder
      run: |
        rm -rf /var/www/my-react-app/*
        cp -r build/* /var/www/my-react-app/

    - name: Start React app with pm2
      run: |
        cd /var/www/my-react-app
        pm2 restart react-app || pm2 start /var/www/my-react-app/server.js --name react-app
        pm2 save
